.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--text-header);
  background: linear-gradient(to bottom, var(--primary-color), var(--primary-alpha50-color));

  .center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .logo {
      font-family: 'Rubik Bubbles';
      font-size: 45px;
      text-align: center;
    }
    .icon {
      margin-top: 20px;
      svg {
        color: var(--text-header);
        fill: var(--text-header);
        stroke: var(--text-header);
        width: 40px;
        height: 40px;
      }
    }
  }

  .gettingScroll {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    text-align: center;
    animation: kfGettingScroll 0.7s ease-out infinite alternate-reverse;
    .text {
      font-size: 9px;
      line-height: 20px;
    }
    @keyframes kfGettingScroll {
      0% {
        padding-bottom: 0;
      }
      100% {
        padding-bottom: 10px;
      }
    }
  }

  .iconScroll {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 35px;
    border: 2px solid var(--text-header);
    border-radius: 40%;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 80%;
      width: 6px;
      height: 6px;
      background-color: var(--text-header);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      animation: kfIconScroll 1.5s infinite ease-out;
    }
    @keyframes kfIconScroll {
      0% {
        top: 80%;
        opacity: 1;
      }
      100% {
        top: 20%;
        opacity: 0;
      }
    }
  }
}
