.rhv-container {
  position: relative;
  overflow: hidden;
  transition: 0.3s opacity;

  * {
    box-sizing: border-box;
  }

  [pause-state] {
    *, *:after, *:before {
      animation-play-state: paused !important;
    }
  }

  .rhv-item-wrapper {
    position: relative;

    .rhv-item-float {
      position: fixed;
    }

    .rhv-item-absolute {
      position: absolute;
      width: 100%;
    }

    .rhv-item-content {
      position: absolute;
      width: 100%;
      top: -100vh;
      left: 100%;
    }
  }
}
